<div class="card-wrapper" fxLayout="row" fxLayoutAlign="center start">
  <mat-card class="mat-card-wrap">
    <mat-card-content class="card-config">
      <mat-card-title class="title-config">Create article</mat-card-title>
      <form>
        <p>
          <mat-form-field class="card-config">
            <input type="text" matInput placeholder="Article title">
          </mat-form-field>
        </p>


        <mat-form-field class="example-full-width card-config">
          <mat-label>Article text</mat-label>
          <textarea matInput placeholder="Ex. This is a new..."></textarea>
        </mat-form-field>

        <div class="button">
          <button class="float-right" type="submit" mat-flat-button color="primary">Create</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

</div>
