.view-article-card-container {
  width: 100%;
  height: 100%;
  flex-flow: row wrap;
  box-sizing: border-box;
  display: flex;
}

.create-article-container{
  width: 100%;
  height: 100%;
}

.article-container{
  width: 100%;
}
