<div>
  <form [formGroup]="this.viewArticleForm">
    <mat-form-field class="title-config">
      <input type="text" matInput formControlName="title">
    </mat-form-field>
    <div mat-dialog-content>
      <mat-form-field>
      <textarea matInput rows="15" formControlName="body"></textarea>
      </mat-form-field>
      <mat-label class="author-config">Author: {{this.data.user.name}}</mat-label>
    </div>
    <div mat-dialog-actions class="button-container">
      <button mat-flat-button (click)="onNoClick()">Close</button>
      <button mat-flat-button color="primary" [mat-dialog-close]="this.data.article"
             [disabled]="!this.viewArticleForm.valid" *ngIf="!this.data.type" (click)="editArticle()">Edit
      </button>
    </div>
  </form>
</div>
