.navbar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

h1.navbar-toolbar-title{
  margin-left: 8px;
}

.navbar-sidenav-container{
  flex: 1;
}

.content {
  background-image: url("/assets/images/articles.jpg");
  box-shadow:inset 0 0 0 2000px rgba(36, 27, 34, 0.3);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
