<div class="card-wrapper" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="mat-card-wrap">
    <mat-card-title fxLayoutAlign="space-between center">Login</mat-card-title>
    <mat-card-content class="card-config">
      <form [formGroup]="this.loginForm" (ngSubmit)="onSubmit()">
        <p>
          <mat-form-field class="card-config">
            <input type="email" matInput placeholder="Email" formControlName="email">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="card-config">
            <input type="password" matInput placeholder="Password" formControlName="password">
          </mat-form-field>
        </p>
        <mat-error *ngIf="this.error">
          The username and password were not recognized
        </mat-error>
        <a class="float-left register-text" (click)="this.redirectToRegister()">Don't have an account yet? Register</a>

        <div class="button">
          <button class="float-right" type="submit" mat-flat-button color="primary" >Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

</div>
