.card-wrapper{
  width: 100%;
  min-width: 250px;
  height: 100vh;
  background-image: url("/assets/images/articles.jpg");
  box-shadow:inset 0 0 0 2000px rgba(36, 27, 34, 0.3);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

:host {
  display: flex;
  justify-content: center;
}

.card-config{
  width: 100%;
}

.mat-card-wrap{
  width: 50%;
}

.error-message{
  color: red;
  padding-bottom: 20px;
}

a:hover {
  color: purple !important;
  text-decoration: underline !important;
}

@media screen and (max-width: 600px) {
  *{
    font-size: 10px;
  }
  .register-text{
      font-size: 7px;
  }
  .mat-card-wrap{
    width: 70%;
  }
}
