<div class="card-wrapper" fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="mat-card-wrap">
    <mat-card-title fxLayoutAlign="space-between center">Register</mat-card-title>
    <mat-card-content class="card-config">
      <form [formGroup]="this.registerForm" >
        <p>
          <mat-form-field class="card-config">
            <input type="text" matInput placeholder="First and last name" formControlName="name">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="card-config">
            <input type="email" matInput placeholder="Email" formControlName="email">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field class="card-config">
            <input type="password" matInput placeholder="Password" formControlName="password">
          </mat-form-field>
        </p>

        <div class="button">
          <button class="float-right" type="submit" mat-flat-button color="primary" (click)="this.onRegister()">Register</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>

</div>
